@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiDataGrid-columnHeaderTitleContainer {
  align-items: center;
  justify-content: center;
  margin-right: 0px !important;
}

.MuiDataGrid-columnHeaders {
  background-color: #3c5cd2;
  border-top-left-radius: 9px !important;
  border-top-right-radius: 9px !important;
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
  width: 100%;
}

.MuiDataGrid-root {
  border-radius: 9px !important;
  font-family: "Montserrat" !important;
  border: none !important;
}

.MuiPaginationItem-firstLast .MuiSvgIcon-root {
  background: #fff;
  border-radius: 999px;
  border: 2px solid #3c5cd2;
  color: #3c5cd2;
}
.MuiPaginationItem-firstLast.Mui-disabled .MuiSvgIcon-root {
  background: #fff;
  border-radius: 999px;
  border: 2px solid #e4e4e4;
  color: #e4e4e4;
}

.MuiTablePagination-spacer,
.MuiTablePagination-displayedRows,
.MuiDataGrid-selectedRowCount {
  font-family: "Montserrat" !important;
}

.MuiPaginationItem-text {
  font-size: 12px;
}
.MuiPaginationItem-circular {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  font-weight: 500;
  height: 20px;
  justify-items: center;
  width: 20px;
}

.MuiDataGrid-footerContainer {
  border: none;
  align-self: center;
}

.MuiDataGrid-columnHeader.actionsColumn .MuiDataGrid-menuIcon,
.MuiDataGrid-columnHeader.menuNone .MuiDataGrid-menuIcon,
.MuiDataGrid-columnHeader.sortNone .MuiDataGrid-sortIcon,
.MuiDataGrid-columnHeader.menuNone.sortNone .MuiDataGrid-iconButtonContainer,
.MuiDataGrid-filterFormDeleteIcon,
.MuiDataGrid-filterFormColumnInput,
.MuiDataGrid-filterFormOperatorInput
/* .MuiMenuItem-root.MuiMenuItem-gutters:last-child,
.MuiMenuItem-root.MuiMenuItem-gutters:nth-last-child(2) */ {
  display: none !important;
  color: #fff;
}
.MuiDataGrid-menuIcon .MuiDataGrid-menuOpen {
  /* display: none !important; */
  color: #fff;
}

.MuiDataGrid-panel {
  width: 85%;
}

.MuiDataGrid-virtualScrollerContent {
  overflow: hidden !important;
  width: 100% !important;
}

.MuiDataGrid-virtualScrollerRenderZone {
  overflow: hidden !important;
  width: 100% !important;
}

.MuiDataGrid-row .MuiSvgIcon-root {
  visibility: hidden;
}

/* .MuiDataGrid-columnHeaderRow {
  background-color: #3c5cd2;
  border-top-left-radius: 9px !important;
  border-top-right-radius: 9px !important;
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
} */
